h1 {
    text-align: center;
}

.ordenacao {
    margin-left: 5px; 
    margin-top: 3px; 
    display: flex; 
    flex-direction: column; 
    float: right;
}

#buttonComponentes {
    margin-top: 15px;
    margin-bottom: 15px;
}

.imagemCarousel {
    width: 100%;
}